hostname {{hostname}}
domain {{domain_name}}
dns {{dns_server}}
snmp-server community {{snmp_community}} {{snmp_type}}
snmp-server enable traps
snmp-server host {{snmp_trap_destination_1}} {{snmp_community}} snmp
snmp-server host {{snmp_trap_destination_2}} {{snmp_community}} snmp